<?xml version="1.0"?>

<model>
  <name>Warehouse_with_open_top_container</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>RukShan</name>
    <email>ruk.shan@outlook.com</email>
  </author>
  
  <description>
    Warehouse model for Supply Chain 
  </description>
</model>
